{% extends "polls/base.html" %}

{% block content %}
<div class='flex flex-row gap-4 h-full w-full mx-auto max-w-screen-sm  mt-4'>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table class="text-sm  rounded">
<tr>
    <td class="text-sm font-bold px-2 rounded">{{ form.username.label_tag }}</td>
    <td class="text-sm  rounded">{{ form.username }}</td>
</tr>
<tr>
    <td class="text-sm font-bold px-2 rounded">{{ form.password.label_tag }}</td>
    <td class="text-sm  rounded">{{ form.password }}</td>
</tr>
</table>
        <div>
<input class="text-white bg-gradient-to-r from-indigo-600 to-red-600 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
<p><a class='text-sky-600 font-semibold italic' href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
</form>

{# Assumes you set up the password_reset view in your URLconf #}


{% endblock %}
